<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nigromante - Boletines 2008</title>
    <link rel="stylesheet" href="css/styles/estiloBoletines.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--PlugIns-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>   <!-- "bootstrap": "3.3.7"-->
    <script src="controllers/PrincipalModule.js"></script>

</head>
<body class="fondo">
<header>
    <!--Menu barra de navegacion-->
    <nav class="navbar "  id="menu">
        <!--cabecera del menu de navegacion-->
        <div class="col-md-12" id="black">
            <div class="col-md-2 "><br></div>
            <div class="col-md-7 "><img  id="logoNigromante" class="img-responsive"  src="../Img/logo.png"></div>
            <div class="col-md-3" ><img class="img-responsive" id="parquita" src="../Img/parquita.jpg"></div>
        </div>
        <div class="control-label" id="centrado">
            <ul class="nav navbar-nav">
                <li><a href="/">Principal</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Publicaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/revistas2016">Revistas</a></li>
                        <li class="active"><a>Boletines</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Fotos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/fotos">Fotos</a></li>
                        <li><a href="/memes">Memes</a></li>
                    </ul>
                </li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/servicioSocial">Servicio social</a></li>
                <li><a href="/somos">Acerca de Nosotros</a></li>
            </ul>
        </div>
    </nav>
</header>



<div class="col-md-12" id="margen">
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
    <!--centro---------------------------------------------------------------------->
    <div align="center" class="col-md-10" id="padfoot">
        <div id="margen">
            <div class="caja">
                <h1>Boletines 2008</h1>
            </div>
        </div>
        <div>
            <div class="col-md-3">
                <div id="padding">
                    <div class="col-md-12">
                        <img class="img-responsive" src="../Img/Boletin 91-enero 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El nigromante 91</p>
                        <p>Enero de 2008</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 92-febrero 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El nigromante 92</p>
                        <p>Febrero de 2008</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 93-marzo 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 93</p>
                        <p>Marzo 2008</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 94-abril 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 94</p>
                        <p>Abril 2008</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <br>
        </div>
        <div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 95-mayo 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 95</p>
                        <p>Mayo 2008</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 96-junio 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 96</p>
                        <p>Junio 2008</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 97-julio 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 97</p>
                        <p>Julio 2008</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 98-agosto 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 98</p>
                        <p>Agosto 2008</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <br>
        </div>
        <div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 99-septiembre 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 99</p>
                        <p>Septiembre 2008</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 100-octubre 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 100</p>
                        <p>Octubre 2008</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 100-octubre 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 100</p>
                        <p>Octubre 2008</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 101-noviembre 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 101</p>
                        <p>Noviembre 2008</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 102-diciembre 2008.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 102</p>
                        <p>Noviembre 2008</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <br>
            </div>
        </div>
    </div>
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
</div>

<footer id="footer" class="col-md-12">
    <div>
        <div id="padfoot">
            <h4> Todos los derechos reservados © 1999 - 2019 / Facultad de Ingeniería/UNAM/ </h4>
            <br>
        </div>
        <div>
            <p>Esta es la página electrónica institucional de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.</p>
            <br>
        </div>
    </div>
</footer>

</body>
</html>
