<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nigromante - Boletines 2001</title>
    <link rel="stylesheet" href="css/styles/estiloBoletines.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--PlugIns-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>   <!-- "bootstrap": "3.3.7"-->
    <script src="controllers/PrincipalModule.js"></script>

</head>
<body class="fondo">
<header>
    <!--Menu barra de navegacion-->
    <nav class="navbar "  id="menu">
        <!--cabecera del menu de navegacion-->
        <div class="col-md-12" id="black">
            <div class="col-md-2 "><br></div>
            <div class="col-md-7 "><img  id="logoNigromante" class="img-responsive"  src="../Img/logo.png"></div>
            <div class="col-md-3" ><img class="img-responsive" id="parquita" src="../Img/parquita.jpg"></div>
        </div>
        <div class="control-label" id="centrado">
            <ul class="nav navbar-nav">
                <li><a href="/">Principal</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Publicaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/revistas2016">Revistas</a></li>
                        <li class="active"><a>Boletines</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Fotos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/fotos">Fotos</a></li>
                        <li><a href="/memes">Memes</a></li>
                    </ul>
                </li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/servicioSocial">Servicio social</a></li>
                <li><a href="/somos">Acerca de Nosotros</a></li>
            </ul>
        </div>
    </nav>
</header>



<div class="col-md-12" id="margen">
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
    <!--centro---------------------------------------------------------------------->
    <div align="center" class="col-md-10" id="padfoot">
        <div id="margen">
            <div class="caja">
                <h1>Boletines 2001</h1>
            </div>
        </div>
        <div>
            <div class="col-md-3">
                <div id="padding">
                    <div class="col-md-12">
                        <img class="img-responsive" src="../Img/Boletin 09-enero 2001.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El nigromante 9</p>
                        <p>(triptico)</p>
                        <p>Enero de 2001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 10 - enero 2001 especial.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El nigromante 10 Especial</p>
                        <p>(triptico)</p>
                        <p>Febrero de 2001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 11- febrero 2001.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 11</p>
                        <p>(Triptico)</p>
                        <p>febrero 2001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 12 - marzo 2001.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 12</p>
                        <p>(Triptico)</p>
                        <p>marzo 2001</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <br>
        </div>
        <div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 13 -abril 2001.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 13</p>
                        <p>abril 2001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 14 - mayo 2001.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 14</p>
                        <p>Mayo 2001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 15- junio 2001.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 15</p>
                        <p>Junio 2001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 16- julio 2001.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 16</p>
                        <p>Julio 2001</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <br>
        </div>
        <div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 17- agosto 2001.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 17</p>
                        <p>Agosto 2001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 18- septiembre 2001.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 18</p>
                        <p>septiembre 2001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 19-octubre 2001.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 19</p>
                        <p>Octubre 2001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 20-noviembre 2001.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 20</p>
                        <p>noviembre 2001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <br>
            </div>
            <div>
                <div class="col-md-3">
                    <div id="padding">
                        <div>
                            <img class="img-responsive" src="../Img/Boletin 21-diciembre 2001.PNG" id="boletin">
                        </div>
                        <div>
                            <p>El Nigromante 21</p>
                            <p>Diciembre 2001</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
</div>

<footer id="footer" class="col-md-12">
    <div>
        <div id="padfoot">
            <h4> Todos los derechos reservados © 1999 - 2019 / Facultad de Ingeniería/UNAM/ </h4>
            <br>
        </div>
        <div>
            <p>Esta es la página electrónica institucional de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.</p>
            <br>
        </div>
    </div>
</footer>

</body>
</html>
