<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nigromante - Boletines 2011</title>
    <link rel="stylesheet" href="css/styles/estiloBoletines.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--PlugIns-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>   <!-- "bootstrap": "3.3.7"-->
    <script src="controllers/PrincipalModule.js"></script>

</head>
<body class="fondo">
<header>
    <!--Menu barra de navegacion-->
    <nav class="navbar "  id="menu">
        <!--cabecera del menu de navegacion-->
        <div class="col-md-12" id="black">
            <div class="col-md-2 "><br></div>
            <div class="col-md-7 "><img  id="logoNigromante" class="img-responsive"  src="../Img/logo.png"></div>
            <div class="col-md-3" ><img class="img-responsive" id="parquita" src="../Img/parquita.jpg"></div>
        </div>
        <div class="control-label" id="centrado">
            <ul class="nav navbar-nav">
                <li><a href="/">Principal</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Publicaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/revistas2019">Revistas</a></li>
                        <li class="active"><a>Boletines</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Fotos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/fotos">Fotos</a></li>
                        <li><a href="/memes">Memes</a></li>
                    </ul>
                </li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/servicioSocial">Servicio social</a></li>
                <li><a href="/somos">Acerca de Nosotros</a></li>
            </ul>
        </div>
    </nav>
</header>



<div class="col-md-12" id="margen">
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
    <!--centro---------------------------------------------------------------------->
    <div align="center" class="col-md-10" id="padfoot">
        <div id="margen">
            <div class="caja">
                <h1>Boletines 2011</h1>
            </div>
        </div>
        <div>
            <div class="col-md-3">
                <div id="padding">
                    <div class="col-md-12">
                        <img class="img-responsive" src="../Img/Boletin 127-enero 2011.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El nigromante 127</p>
                        <p>Enero de 2011</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 128-febrero 2011.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El nigromante 128</p>
                        <p>Febrero de 2011</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 129-marzo 2011.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 129</p>
                        <p>Marzo 2011</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 130-abril 2011.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 130</p>
                        <p>Abril 2011</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <br>
        </div>
        <div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 131-mayo 2011.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 131</p>
                        <p>Mayo 2011</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 132-junio 2011.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 132</p>
                        <p>Junio 2011</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 133-julio 2011.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 133</p>
                        <p>Julio 2011</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 122-agosto 2010.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 134</p>
                        <p>Agosto 2011</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <br>
        </div>
        <div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 135-septiembre 2011.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 135</p>
                        <p>Septiembre 2011</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 136-octubre 2011.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 136</p>
                        <p>Octubre 2011</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 137- noviembre 2011.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 137</p>
                        <p>Noviembre 2011</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/Boletin 138-diciembre 2011.PNG" id="boletin">
                    </div>
                    <div>
                        <p>El Nigromante 138</p>
                        <p>Noviembre 2011</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <br>
            </div>
        </div>
    </div>
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
</div>

<footer id="footer" class="col-md-12">
    <div>
        <div id="padfoot">
            <h4> Todos los derechos reservados © 1999 - 2019 / Facultad de Ingeniería/UNAM/ </h4>
            <br>
        </div>
        <div>
            <p>Esta es la página electrónica institucional de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.</p>
            <br>
        </div>
    </div>
</footer>

</body>
</html>
