<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nigromante - Boletines</title>
    <!--<link rel="stylesheet" href="css/styles/estilos.css">-->
    <link rel="stylesheet" href="css/styles/estiloBoletines.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--PlugIns-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>   <!-- "bootstrap": "3.3.7"-->
    <script src="controllers/PrincipalModule.js"></script>

</head>
<body class="fondo">
<header>
    <!--Menu barra de navegacion-->
    <nav class="navbar "  id="menu">
        <!--cabecera del menu de navegacion-->
        <div class="col-md-12" id="black">
            <div class="col-md-2 "><br></div>
            <div class="col-md-7 "><img  id="logoNigromante" class="img-responsive"  src="../Img/logo.png"></div>
            <div class="col-md-3" ><img class="img-responsive" id="parquita" src="../Img/parquita.jpg"></div>
        </div>
        <div class="control-label" id="centrado">
            <ul class="nav navbar-nav">
                <li><a href="/">Principal</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Publicaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/revistas">Revistas</a></li>
                        <li class="active"><a>Boletines</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Fotos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/fotos">Fotos</a></li>
                        <li><a href="/memes">Memes</a></li>
                    </ul>
                </li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/servicioSocial">Servicio social</a></li>
                <li><a href="/somos">Acerca de Nosotros</a></li>
            </ul>
        </div>
    </nav>
</header>



<div class="col-md-12" id="margen">
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
    <!--centro---------------------------------------------------------------------->
    <div align="center" class="col-md-10" id="padfoot">
        <div>
            <div class="caja">
                <h2>Boletines</h2>
            </div>
        </div>
        <div class="col-md-12" id="margen">
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2015">Boletines 2015</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2014">Boletines 2014</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2013">Boletines 2013</a>
            </div>
        </div>
        <div class="col-md-12" id="margen">
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2012">Boletines 2012</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2011">Boletines 2011</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2010">Boletines 2010</a>
            </div>
        </div>
        <div class="col-md-12" id="margen">
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2009">Boletines 2009</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2008">Boletines 2008</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-success btn-lg btn btn-block" href="/boletin2007">Boletines 2007</a>
            </div>
        </div>
        <div class="col-md-12" id="margen">
            <div class="col-md-4">
                <a type="button" class="btn btn-success btn-lg btn-block" href="/boletin2006">Boletines 2006</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2005">Boletines 2005</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2004">Boletines 2004</a>
            </div>
        </div>
        <div class="col-md-12" id="margen">
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2003">Boletines 2003</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2002">Boletines 2002</a>
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2001">Boletines 2001</a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="/boletin2000">Boletines 2000</a>
            </div>
        </div>
    </div>
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
</div>

<footer id="footer" class="col-md-12">
    <div>
        <div id="padfoot">
            <h4> Todos los derechos reservados © 1999 - 2019 / Facultad de Ingeniería/UNAM/ </h4>
            <br>
        </div>
        <div>
            <p>Esta es la página electrónica institucional de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.</p>
            <br>
        </div>
    </div>
</footer>

</body>
</html>