<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nigromante - Boletines</title>
    <!--<link rel="stylesheet" href="css/styles/estilos.css">-->
    <link rel="stylesheet" href="css/styles/estiloBoletines.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--PlugIns-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>   <!-- "bootstrap": "3.3.7"-->
    <script src="controllers/PrincipalModule.js"></script>

</head>
<body class="fondo">
<header>
    <!--Menu barra de navegacion-->
    <nav class="navbar "  id="menu">
        <!--cabecera del menu de navegacion-->
        <div class="col-md-12" id="black">
            <div class="col-md-2 "><br></div>
            <div class="col-md-7 "><img  id="logoNigromante" class="img-responsive"  src="../Img/logo.png"></div>
            <div class="col-md-3" ><img class="img-responsive" id="parquita" src="../Img/parquita.jpg"></div>
        </div>
        <div class="control-label" id="centrado">
            <ul class="nav navbar-nav">
                <li><a href="/">Principal</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Publicaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/revistas2019">Revistas</a></li>
                        <li class="active"><a>Boletines</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Fotos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/fotos">Fotos</a></li>
                        <li><a href="/memes">Memes</a></li>
                    </ul>
                </li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/servicioSocial">Servicio social</a></li>
                <li><a href="/somos">Acerca de Nosotros</a></li>
            </ul>
        </div>
    </nav>
</header>



<div class="col-md-12" id="margen">
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
    <!--centro---------------------------------------------------------------------->
    <div align="center" class="col-md-10" id="padfoot">
        <div>
            <div class="caja">
                <h2>Boletines</h2>
            </div>
        </div>
        <!--Botones-->
        <div class="col-md-12">
            <div class="col-md-1" id="margen">
                <a href="/boletin2015">
                    <button class="button">2015</button>
                </a>
            </div>
            <div class="col-md-1" id="margen">
                <a href="/boletin2014">
                    <button class="button">2014</button>
                </a>
            </div>
            <div class="col-md-1" id="margen">
                <a href="/boletin2013">
                    <button class="button">2013</button>
                </a>
            </div>
            <div class="col-md-1" id="margen">
                <a href="/boletin2012">
                    <button class="button">2012</button>
                </a>
            </div>
            <div class="col-md-1" id="margen">
                <a href="/boletin2011">
                    <button class="button">2011</button>
                </a>
            </div>
            <div class="col-md-1" id="margen">
                <a href="/boletin2010">
                    <button class="button">2010</button>
                </a>
            </div>
            <div class="col-md-1" id="margen">
                <a href="/boletin2009">
                    <button class="button">2009</button>
                </a>
            </div>
            <div class="col-md-1" id="margen">
                <a href="/boletin2008">
                    <button class="button">2008</button>
                </a>
            </div>
        </div>
        <!--segunda fila-->

        <div class="col-md-4" id="margen">
        </div>
        <div class="col-md-1" id="margen">
            <a href="/boletin2007">
                <button class="button">2007</button>
            </a>
        </div>
        <div class="col-md-1" id="margen">
            <a href="/boletin2006">
                <button class="button">2006</button>
            </a>
        </div>
        <div class="col-md-1" id="margen">
            <a href="/boletin2005">
                <button class="button">2005</button>
            </a>
        </div>
        <div class="col-md-1" id="margen">
            <a href="/boletin2004">
                <button class="button">2004</button>
            </a>
        </div>
        <div class="col-md-1" id="margen">
            <a href="/boletin2003">
                <button class="button">2003</button>
            </a>
        </div>
        <div class="col-md-1" id="margen">
            <a href="/boletin2002">
                <button class="button">2002</button>
            </a>
        </div>
        <div class="col-md-1" id="margen">
            <a href="/boletin2001">
                <button class="button">2001</button>
            </a>
        </div>
        <div class="col-md-1" id="margen">
            <a href="/boletin2000">
                <button class="button">2000</button>
            </a>
        </div>
        <!--fin botones-->
    </div>
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
</div>

<footer id="footer" class="col-md-12">
    <div>
        <div id="padfoot">
            <h4> Todos los derechos reservados © 1999 - 2019 / Facultad de Ingeniería/UNAM/ </h4>
            <br>
        </div>
        <div>
            <p>Esta es la página electrónica institucional de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.</p>
            <br>
        </div>
    </div>
</footer>

</body>
</html>