<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--PlugIns-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>   <!-- "bootstrap": "3.3.7"-->
    <script src="controllers/PrincipalModule.js"></script>
    <script src="/sha1.js"></script>
    <!--<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>-->
</head>
<body ng-app="PrincipalModule">
<header ng-app>
    <div class="container" >
        <figure class="col-md-4 col-sm-3">
            <img src="imagenes/Logo_TV_2015.png" class="img-responsive">
        </figure>
        <div class="col-md-6 col-sm-4">
            <p class="text-center"> <h1 >Error </h1> </p>
        </div>
    </div>
</header>
<div>
    <div class="col-md-12" id="cuer">
        <div>
            <div class="col-md-4 col-md-offset-4" id="titleLog">
                <div id="logbackground">
                    <h3 class="text-center">Error al loguear</h3>
                </div>
                <div>
                    <p>Pasa por el login y luego vuelve a intentar ingresar <p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="foot">
    <div class="container">
        <div class="col-md-9 col-sm-5 col-md-offset-1 text-left" id="pad">
            <div>
                <p>Los datos que ingresen seran unicamente usados para mejorar su experiencia en esta plataforma</p>
            </div>
            <div>
                <p>© 2019 MOPEGA Derechos reservados</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>