<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nigromante - fotos</title>
    <link rel="stylesheet" href="css/styles/stylefotos.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--PlugIns-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>   <!-- "bootstrap": "3.3.7"-->
    <script src="controllers/PrincipalModule.js"></script>
    <script src="js/fotos.js"></script>
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/elastislide.css" />
    <link rel="stylesheet" type="text/css" href="css/custom.css" />
    <script src="js/modernizr.custom.17475.js"></script>
</head>
<body class="fondo">
<header>
    <!--Menu barra de navegacion-->
    <nav class="navbar "  id="menu">
        <!--cabecera del menu de navegacion-->
        <div class="col-md-12" id="black">
            <div class="col-md-2 "><br></div>
            <div class="col-md-7 "><img  id="logoNigromante" class="img-responsive"  src="../Img/logo.png"></div>
            <div class="col-md-3" ><img class="img-responsive" id="parquita" src="../Img/parquita.jpg"></div>
        </div>
        <div class="control-label" id="centrado">
            <ul class="nav navbar-nav">
                <li><a href="/">Principal</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Publicaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/revistas">Revistas</a></li>
                        <li><a href="/folletos">Folletos</a></li>
                        <li><a href="/tripticos">Tripticos</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Fotos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a>Fotos</a></li>
                        <li><a href="/memes">Memes</a></li>
                    </ul>
                </li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/servicioSocial">Servicio social</a></li>
                <li><a href="/somos">Acerca de Nosotros</a></li>
            </ul>
        </div>
    </nav>
</header>


<div class="col-md-12" id="margen">
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
    <!--centro---------------------------------------------------------------------->
    <div align="center" class="col-md-10" id="padfoot">
        <!--carrucel----------------------------------------------------------------------------------------------------------->
            <div class="main">
                <div class="gallery">
                    <!-- Elastislide Carousel -->
                    <ul id="carousel" class="elastislide-list">
                        <li data-preview="images/large/4.jpg"><a href="#"><img src="img/01_Abril_2016.jpg" alt="image04" /></a></li>
                        <li data-preview="images/large/5.jpg"><a href="#"><img src="img/03_Junio_2016.jpg" alt="image05" /></a></li>
                        <li data-preview="images/large/6.jpg"><a href="#"><img src="img/04_Julio_2016.jpg" alt="image06" /></a></li>
                        <li data-preview="images/large/7.jpg"><a href="#"><img src="img/05_Agosto_2016.jpg" alt="image07" /></a></li>
                        <li data-preview="images/large/11.jpg"><a href="#"><img src="img/06_Septiembre_2016.jpg" alt="image11" /></a></li>
                        <li data-preview="images/large/12.jpg"><a href="#"><img src="img/07_Octubre_2016.jpg" alt="image12" /></a></li>
                        <li data-preview="images/large/13.jpg"><a href="#"><img src="img/08_Noviembre_2016.jpg" alt="image13" /></a></li>
                        <li data-preview="images/large/14.jpg"><a href="#"><img src="img/09_Diciembre_2016.jpg" alt="image14" /></a></li>
                        <li data-preview="images/large/15.jpg"><a href="#"><img src="img/10_Enero_2017.jpg" alt="image15" /></a></li>
                        <li data-preview="images/large/16.jpg"><a href="#"><img src="img/11_Febrero_2017.jpg" alt="image16" /></a></li>
                        <li data-preview="images/large/17.jpg"><a href="#"><img src="img/12_Marzo_2017.jpg" alt="image17" /></a></li>
                        <li data-preview="images/large/18.jpg"><a href="#"><img src="img/13_Abril_2017.jpg" alt="image18" /></a></li>
                        <li data-preview="images/large/19.jpg"><a href="#"><img src="img/14_Mayo_2017.jpg" alt="image19" /></a></li>
                        <li data-preview="images/large/20.jpg"><a href="#"><img src="img/15_Junio_2017.jpg" alt="image20" /></a></li>
                        <li data-preview="images/large/1.jpg"><a href="#"><img src="img/16_Julio_2017.jpg" alt="image01" /></a></li>
                        <li data-preview="images/large/2.jpg"><a href="#"><img src="img/17_Agosto_2017.jpg" alt="image02" /></a></li>
                        <li data-preview="images/large/3.jpg"><a href="#"><img src="img/18_Septiembre_2017.png" alt="image03" /></a></li>
                        <li data-preview="images/large/8.jpg"><a href="#"><img src="img/19_Octubre_2017.png" alt="image08" /></a></li>
                        <li data-preview="images/large/9.jpg"><a href="#"><img src="img/20_Noviembre_2017.png" alt="image09" /></a></li>
                        <li data-preview="images/large/10.jpg"><a href="#"><img src="img/22_Enero_2018.png" alt="image10" /></a></li>
                    </ul>
                    <!-- End Elastislide Carousel -->

                    <div class="image-preview">
                        <img id="preview" src="img/23_Febrero_2018.png" />
                    </div>
                </div>


            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquerypp.custom.js"></script>
        <script type="text/javascript" src="js/jquery.elastislide.js"></script>
        <script type="text/javascript">

            // example how to integrate with a previewer

            var current = 0,
                    $preview = $( '#preview' ),
                    $carouselEl = $( '#carousel' ),
                    $carouselItems = $carouselEl.children(),
                    carousel = $carouselEl.elastislide( {
                        current : current,
                        minItems : 4,
                        onClick : function( el, pos, evt ) {

                            changeImage( el, pos );
                            evt.preventDefault();

                        },
                        onReady : function() {

                            changeImage( $carouselItems.eq( current ), current );

                        }
                    } );

            function changeImage( el, pos ) {

                $preview.attr( 'src', el.data( 'preview' ) );
                $carouselItems.removeClass( 'current-img' );
                el.addClass( 'current-img' );
                carousel.setCurrent( pos );

            }

        </script>
        <!--fin del carrucel-->
        <div>
            <h1>Fotos</h1>
        </div>
        <div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/flor.png" id="carucel1" alt="carucel1" >
                    </div>
                    <div>
                        <p>Titulo: flor</p>
                        <p>Autor: Alguien</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/flor.png" id="carucel1" alt="carucel1" >
                    </div>
                    <div>
                        <p>Titulo: flor</p>
                        <p>Autor: Alguien</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/flor.png" id="carucel1" alt="carucel1" >
                    </div>
                    <div>
                        <p>Titulo: flor</p>
                        <p>Autor: Alguien</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/flor.png" id="carucel1" alt="carucel1" >
                    </div>
                    <div>
                        <p>Titulo: flor</p>
                        <p>Autor: Alguien</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
</div>

<footer id="footer" class="col-md-12">
    <div>
        <div id="padfoot">
            <h4> Todos los derechos reservados © 1999 - 2019 / Facultad de Ingeniería/UNAM/ </h4>
            <br>
        </div>
        <div>
            <p>Esta es la página electrónica institucional de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.</p>
            <br>
        </div>
    </div>
</footer>

</body>
</html>