<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nigromante - Memes</title>
    <link rel="stylesheet" href="css/styles/stylefotos.css">
    <link rel="stylesheet" href="css/styles/demo.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--PlugIns-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>   <!-- "bootstrap": "3.3.7"-->
    <script src="controllers/PrincipalModule.js"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/jquery.scrollbox.js"></script>
    <script src="../js/scroll.js"></script>
    <li><a href="http://www.jqueryscript.net/animation/Carousel-Marquee-Like-List-Scrolling-Plguin-For-jQuery-Scrollbox.html">Download This Plugin</a></li>
    <li><a href="http://www.jqueryscript.net/">Back To jQueryScript.Net</a></li>

</head>
<body class="fondo">
<header>
    <!--Menu barra de navegacion-->
    <nav class="navbar "  id="menu">
        <!--cabecera del menu de navegacion-->
        <div class="col-md-12" id="black">
            <div class="col-md-2 "><br></div>
            <div class="col-md-7 "><img  id="logoNigromante" class="img-responsive"  src="../Img/logo.png"></div>
            <div class="col-md-3" ><img class="img-responsive" id="parquita" src="../Img/parquita.jpg"></div>
        </div>
        <div class="control-label" id="centrado">
            <ul class="nav navbar-nav">
                <li><a href="/">Principal</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Publicaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/revistas2019">Revistas</a></li>
                        <li><a href="/boletines">Boletines</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Fotos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a>Fotos</a></li>
                        <li><a href="/memes">Memes</a></li>
                    </ul>
                </li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/servicioSocial">Servicio social</a></li>
                <li><a href="/somos">Acerca de Nosotros</a></li>
            </ul>
        </div>
    </nav>
</header>


<div class="col-md-12" id="margen">
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
    <!--centro---------------------------------------------------------------------->
    <div align="center" class="col-md-10" id="padfoot">
        <div>
            <div class="caja">Memes</div>
        </div>

        <!--carucel-->
        <div id="demo5" class="scroll-img">
            <ul>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=234" target="_blank"><img src="imgprueba/normal_234.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=485" target="_blank"><img src="imgprueba/normal_485.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=511" target="_blank"><img src="imgprueba/normal_511.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=725" target="_blank"><img src="imgprueba/normal_725.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=840" target="_blank"><img src="imgprueba/normal_840.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=934" target="_blank"><img src="imgprueba/normal_934.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=1295" target="_blank"><img src="imgprueba/normal_1295.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=1459" target="_blank"><img src="imgprueba/normal_1459.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=1590" target="_blank"><img src="imgprueba/normal_1590.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=1688" target="_blank"><img src="imgprueba/normal_1688.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=3206" target="_blank"><img src="imgprueba/normal_3206.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=3810" target="_blank"><img src="imgprueba/normal_3810.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=5176" target="_blank"><img src="imgprueba/normal_5176.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=6861" target="_blank"><img src="imgprueba/normal_6861.png"></a></li>
                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=7004" target="_blank"><img src="imgprueba/normal_7004.png"></a></li>
            </ul>
        </div>
    </div>
</div>
<!--fin del carucel-->
<div align="center" class="col-md-12" id="padfoot">
    <br>
</div>

        <div class="col-md-3">
            <div id="padding">
                <div>
                    <img class="img-responsive" src="../Img/meme1.jpg" id="fotos" alt="fotos" >
                </div>
                <div>
                    <p>Titulo: el nigro Rex y el cholo</p>
                    <p>Autor: Alan Brito Delgado</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="padding">
                <div>
                    <img class="img-responsive" src="../Img/meme2.jpg" id="fotos" alt="fotos" >
                </div>
                <div>
                    <p>Titulo: hermoso nigrorex</p>
                    <p>Autor: SAM</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="padding">
                <div>
                    <img class="img-responsive" src="../Img/meme3.jpg" id="fotos" alt="fotos" >
                </div>
                <div>
                    <p>Titulo: la chicas del nigromante</p>
                    <p>Autor: Luis</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="padding">
                <div>
                    <img class="img-responsive" src="../Img/meme4.jpg" id="fotos" alt="fotos" >
                </div>
                <div>
                    <p>Titulo: SODVI</p>
                    <p>Autor: luis</p>
                </div>
            </div>
        </div>


<div align="center" class="col-md-1" id="padfoot">
    <br>
</div>
</div>

<footer class="col-md-12" id="footer">
    <div>
        <div id="padfoot">
            <div class="col-md-1"><img  id="escudos" class="img-responsive" src="../Img/unam.jpg"></div>
            <div class="col-md-9"><h4> Todos los derechos reservados © 1999 - 2019 / Facultad de Ingeniería/UNAM/ </h4>
                <p>Esta es la página electrónica institucional de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.</p>

            </div>
            <div class="col-md-1"><img  id="escudos" class="img-responsive" src="../Img/ingenieria.png"></div>
            <div class="col-md-1"><img  id="escudos" class="img-responsive" src="../Img/humanidades.jpg"></div>
            <br>
        </div>
        <div>
            <br>
        </div>
    </div>
</footer>

</body>
</html>

