<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nigromante - fotos</title>
    <link rel="stylesheet" href="css/styles/estilosRevistas.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--PlugIns-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>   <!-- "bootstrap": "3.3.7"-->
    <script src="controllers/PrincipalModule.js"></script>

</head>
<body class="fondo">
<!--<div class="container">-->

<!--cabecera-->
<header>
    <div class="row cabecera" >
        <div class="col-md-12"><br></div>
        <div class="col-md-2 "><br></div>
        <div class="col-md-7 "><img  id="logoNigromante" class="img-responsive"  src="../Img/logo.png"></div>
        <div class="col-md-3" ><img class="img-responsive" id="parquita" src="../Img/parquita.jpg"></div>
    </div>
        <div class="col-md-12"><br></div>
    </div>
    </div>

    <!--Menu barra de navegacion-->
    <nav class="navbar navbar" id="menu">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li ><a href="/">Principal</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Publicaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">Revistas</a></li>
                        <li><a href="/">Folletos</a></li>
                        <li><a href="/">Tripticos</a></li>
                    </ul>
                </li>
                <li class="dropdown" ><a class="dropdown-toggle" data-toggle="dropdown">Fotos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a>Fotos</a></li>
                        <li><a href="/memes">Memes</a></li>
                    </ul>
                </li>
                <li><a href="#">Videos</a></li>
                <li><a href="/servicioSocial">Servicio social</a></li>
                <li><a href="/somos">Acerca de Nosotros</a></li>
            </ul>
        </div>
    </nav>
</header>



<div class="row" id="margen">
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
    <!--centro---------------------------------------------------------------------->
    <div align="center" class="col-md-10" id="padfoot">

        <div class="col-md-3" id="paddup">
            <div id="padding">
                <div>
                    <a title="04_Julio_2016.jpg" href=""> <img class="img-responsive" src="../Img/04_Julio_2016.jpg" id="Julio 2016" alt="04 Julio 2016" ></a>
                </div>
                <div>
                    <p>Numero: 04</p>
                    <p>Publicado:Junio 2016</p>
                </div>
            </div>
        </div>

        <div class="col-md-3" id="paddup">
            <div id="padding">
                <div>
                    <a title="08_Noviembre_2016.jpg" href=""> <img class="img-responsive" src="../Img/08_Noviembre_2016.jpg" id="08_Noviembre_2016" alt="08_Noviembre_2016" ></a>
                </div>
                <div>
                    <p>Numero: 08</p>
                    <p>Publicado:Noviembre 2016</p>
                </div>
            </div>
        </div>

        <div class="col-md-3" id="paddup">
            <div id="padding">
                <div>
                    <a title="07_Octubre_2016.jpg" href=""> <img class="img-responsive" src="../Img/07_Octubre_2016.jpg" id="07_Octubre_2016.jpg" alt="07 Octubre 2016" ></a>
                </div>
                <div>
                    <p>Numero: 07 </p>
                    <p>Publicado:Octubre 2016</p>
                </div>
            </div>
        </div>

        <div class="col-md-3" id="paddup">
            <div id="padding">
                <div>
                    <a title="06_Septiembre_2016.jpg" href=""> <img class="img-responsive" src="../Img/06_Septiembre_2016.jpg" id="Septiembre 2016" alt="06 Septiembre 2016 " ></a>
                </div>
                <div>
                    <p>Numero: 06</p>
                    <p>Publicado: Septiembre 2016</p>
                </div>
            </div>
        </div>

        <div>
            <div class="col-md-3" id="paddup">
                <div id="padding">
                    <div>
                        <a title="Agosto 2016" href="">   <img class="img-responsive" src="../Img/05_Agosto_2016.jpg" id="05_Agosto_2016" alt="01_Abril_2016" ></a>
                    </div>
                    <div>
                        <p>Numero: 05</p>
                        <p>Publicado: Agosto 2016</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="paddup">
                <div id="padding">
                    <div>
                        <a title="04_Julio_2016.jpg" href=""> <img class="img-responsive" src="../Img/04_Julio_2016.jpg" id="Julio 2016" alt="04 Julio 2016" ></a>
                    </div>
                    <div>
                        <p>Numero: 04</p>
                        <p>Publicado:Junio 2016</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="paddup" >
                <div id="padding">
                    <div>
                        <a title="03_Junio_2016.jpg" href=""> <img class="img-responsive" src="../Img/03_Junio_2016.jpg" id="Junio 2016" alt="03 Junio 2016" ></a>
                    </div>
                    <div>
                        <p>Numero: 03</p>
                        <p>Publicado:Junio 2016</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" id="paddup">
                <div id="padding">
                    <div>
                        <a title="Abril 2016" href="">   <img class="img-responsive" src="../Img/01_Abril_2016.jpg" id="01 Abril_2016" alt="01 Abril 2016" ></a>
                    </div>
                    <div>


                        <p>Numero: 01</p>
                        <p>Publicado: Abril 2016</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
</div>


<footer id="footer">
    <div>
        <div id="padfoot">
            <h4> Todos los derechos reservados © 1999 - 2019 / Facultad de Ingeniería/UNAM/ </h4>
            <br>
        </div>
        <div>
            <p>Esta es la página electrónica institucional de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.</p>
            <br>
        </div>
    </div>
</footer>

</body>
</html>