<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nigromante - ¿Quienes somos?</title>
    <link rel="stylesheet" href="css/styles/estilos.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--PlugIns-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>   <!-- "bootstrap": "3.3.7"-->
    <script src="controllers/PrincipalModule.js"></script>

</head>
<body class="fondo">
<header>
    <!--Menu barra de navegacion-->
    <nav class="navbar "  id="menu">
        <!--cabecera del menu de navegacion-->
        <div class="col-md-12" id="black">
            <div class="col-md-2 "><br></div>
            <div class="col-md-7 "><img  id="logoNigromante" class="img-responsive"  src="../Img/logo.png"></div>
            <div class="col-md-3" ><img class="img-responsive" id="parquita" src="../Img/parquita.jpg"></div>
        </div>
        <div class="control-label" id="centrado">
            <ul class="nav navbar-nav">
                <li><a href="/">Principal</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Publicaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/revistas2016">Revistas</a></li>
                        <li><a href="/boletines">Boletines</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Fotos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/fotos">Fotos</a></li>
                        <li><a href="/memes">Memes</a></li>
                    </ul>
                </li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/servicioSocial">Servicio social</a></li>
                <li class="active"><a>Acerca de Nosotros</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="col-md-12" id="margen">
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
    <!--centro---------------------------------------------------------------------->
    <div align="center" class="col-md-10" id="padfoot">
        <div>
            <H1>¿Quienes Somos?</H1>
        </div>
        <div class="well" align="left">


            <p>

                Somos un equipo multidisciplinario iniciando con ingenieros (que nos ayudan a crear contenido para la revista), continuando con Filosofía y Letras (que nos auxilian en la edición y corrección de textos), siguiendo con Ciencias Políticas y Sociales (que apoyan a cubrir eventos y a realizar material audiovisual para nuestro canal de YouTube) así como el importante equipo de diseñadoras de la Facultad de Artes y Diseño (que gracias a su formación, diseñan una revista digna de competir dentro del mundo editorial).
                Estamos adscritos a la División de Ciencias Sociales y Humanidades de la Facultad de Ingeniería de la UNAM, y el pilar fundamental de la Revista son los estudiantes que actualmente realizan su servicio social.
            </p>
            <p>
                Algo que siempre hemos querido enfatizar es que Nigromante es una revista en la que personas externas a la Facultad de Ingeniería pueden colaborar con textos originales y fotografías de su autoría. Todo lo que se ha publicado ha tenido como único motivo el compartir la cultura, las novedades tecnológicas, las retrospectivas de la historia, los problemas sociales que tenemos en la actualidad  (o que fueron consecuencia de algún aspecto del pasado) y gran número de cosas más que sabemos que pueden tener injerencia en nuestra sociedad.
            </p>
        </div>
        <div>
            <h1>¿De donde viene el nombre de "Nigromante"?</h1>
        </div>
        <div class="well row">
            <div class="col-md-10" align="left" id="snmig">
                <p>Viene del político, escritor, poeta, liberal mexicano y reconocido masón, Ignacio Ramírez “El Nigromante” (1818-1879). Considerado uno de los artífices más importantes del Estado laico mexicano.</p><br>
                <p>Sus colaboraciones se distinguieron por ser encendidos artículos y agudos versos satíricos en donde hacía una terrible censura a los actos del gobierno conservador, abogando por la reforma del país en lo económico, religioso y político, lo que provocó que el periódico fuera suprimido y Ramírez, encarcelado.</p>
            </div>
            <div class="col-md-2">
                <img class="img-responsive" src="../Img/SanMiguel.png">
            </div>
        </div>
        <div>
            <H1>¿Qué es Nigromante?</H1>
        </div>
        <div class="well" align="left">
            <p>Es una sublevación contra los cánones que tienen los ingenieros.</p>
            <p> Somos más que matemáticas. Tenemos actividades culturales muy variadas dentro del los muros de la Facultad. Ni hablar de la Feria Internacional del Libro del Palacio de Minería, o la Orquesta Sinfónica de Minería, unas de las más reconocidas en el país, rescatada de las tradiciones de los mineros del siglo XIX y en la cual hasta vienen directores de orquesta de fama internacional. Es por eso que se decidió sublevarse ante esta idea de que los ingenieros son cuadrados. Más bien somos cúbicos.</p>
        </div>
        <div>
            <H1>Historia de "Nigromante"</H1>
        </div>
        <div align="left" class="well">
            <p>Antes llamado Boletín El Nigromante, la publicación se creó en junio de 2000, justo después de la huelga y paro de la UNAM de 1999. Fundado por el Lic. José René Gómez Rodríguez y el Ing. Sergio Tirado Ledesma, Nigromante nació como boletín y era un tríptico de hoja tamaño carta.</p>
            <p> insete boletin de junio del 2000</p>
            <p>El entonces Boletín siempre fue un medio de difusión en todos los aspectos, mismo que no solo se quedó en cuestiones ingenieriles sino que sus fundadores estaban convencidos en que debían mostrar que en la Facultad de Ingeniería no solo se realizaban cosas relacionadas con el área físico-matemática, sino que también se impartían asignaturas que pertenecían a las ciencias sociales y a las humanidades.
                A la fecha, esta visión sigue siendo nuestra guía base. Sin embargo, con la expansión del internet de las cosas se le dio un rediseño visual (2016) y, hacia abril de 2017, se comenzó a referirse a esta publicación como Revista Nigromante.</p>
            <p>Revista Nigromante, abril 2017</p>
        </div>
        <div>
            <H1>Nos puedes encontrar en:</H1>
        </div>
        <div align="left" class="well">
            <p>planta baja del edificiio A de la Facultad de Ingeniería frente a ventanillas, en la puerta de cristal, una cez dentro al fondo mano izquierda </p>
        </div>
    </div>
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
</div>

<footer id="footer" class="col-md-12">
    <div>
        <div id="padfoot">
            <h4> Todos los derechos reservados © 1999 - 2019 / Facultad de Ingeniería/UNAM/ </h4>
            <br>
        </div>
        <div>
            <p>Esta es la página electrónica institucional de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.</p>
            <br>
        </div>
    </div>
</footer>
</body>
</html>