<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nigromante - Videos</title>
    <link rel="stylesheet" href="css/styles/estilos.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--PlugIns-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>   <!-- "bootstrap": "3.3.7"-->
    <script src="controllers/PrincipalModule.js"></script>

</head>
<body class="fondo">
<header>
    <!--Menu barra de navegacion-->
    <nav class="navbar "  id="menu">
        <!--cabecera del menu de navegacion-->
        <div class="col-md-12" id="black">
            <div class="col-md-2 "><br></div>
            <div class="col-md-7 "><img  id="logoNigromante" class="img-responsive"  src="../Img/logo.png"></div>
            <div class="col-md-3" ><img class="img-responsive" id="parquita" src="../Img/parquita.jpg"></div>
        </div>
        <div class="control-label" id="centrado">
            <ul class="nav navbar-nav">
                <li><a href="/">Principal</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Publicaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/revistas">Revistas</a></li>
                        <li><a href="/boletines">Boletines</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Fotos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/fotos">Fotos</a></li>
                        <li><a href="/memes">Memes</a></li>
                    </ul>
                </li>
                <li class="active"><a>Videos</a></li>
                <li><a href="/servicioSocial">Servicio social</a></li>
                <li><a href="/somos">Acerca de Nosotros</a></li>
            </ul>
        </div>
    </nav>
</header>



<div class="col-md-12" id="margen">
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
    <!--centro---------------------------------------------------------------------->
    <div align="center" class="col-md-10" id="padfoot">
        <div>
            <h1>Videos</h1>
        </div>
        <div>
            <div class="col-md-6">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/flor.png" id="carucel1" alt="carucel1" >
                    </div>
                    <div>
                        <p>Titulo: flor</p>
                        <p>Autor: Alguien</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/flor.png" id="carucel1" alt="carucel1" >
                    </div>
                    <div>
                        <p>Titulo: flor</p>
                        <p>Autor: Alguien</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="padfoot">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/flor.png" id="carucel1" alt="carucel1" >
                    </div>
                    <div>
                        <p>Titulo: flor</p>
                        <p>Autor: Alguien</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="padfoot">
                <div id="padding">
                    <div>
                        <img class="img-responsive" src="../Img/flor.png" id="carucel1" alt="carucel1" >
                    </div>
                    <div>
                        <p>Titulo: flor</p>
                        <p>Autor: Alguien</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center" class="col-md-1" id="padfoot">
        <br>
    </div>
</div>

<footer id="footer" class="col-md-12">
    <div>
        <div id="padfoot">
            <h4> Todos los derechos reservados © 1999 - 2019 / Facultad de Ingeniería/UNAM/ </h4>
            <br>
        </div>
        <div>
            <p>Esta es la página electrónica institucional de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.</p>
            <br>
        </div>
    </div>
</footer>

</body>
</html>