#margen{
    padding-bottom: 3%;
}

#black{
    background: #000000;
    padding-top: 2%;
    padding-bottom: 2%;
}

#footer{
    background: white;
}

#paddup {
    padding-top: 5%;
}
#padfoot {
    padding-top: 1%;
}


/* Container */
.fondo{
    background: rgba(2, 180, 201, 0.85);
}

.cabecera{
    background: #000000;
}
/*Imagen de cabecera*/

.issuuembed

{
    width:650px;
    height: 500px;
}

#fondoimg{
    background: white;
}

#padding{
    background: white;
    padding: 1%;
}

#logo
{
    width: 95%;
    padding-top: 10px;
    padding-bottom: 8px;

}
#parquita
{
    width:50% ;
    height:150px;
    border-radius: 50%;

}


#menu {
    background: #000000;
    padding: 5px 15px;
}

#menu li {  display: inline-block;
    list-style: none;
    padding: 5px;  font:
bold 14px verdana,
sans-serif; }

/*carusel*/


#carucel1
{
    width: 100%;
    height: 200px;

}

#carucel2
{
    width: 100%;
    height: 200px;
}

#carucel3
{
    width: 100%;
    height: 200px;

}

#carucel4
{
    width: 100%;
    height: 200px;

}

#carucel5
{
    width: 100%;
    height: 200px;

}

#fondofoto{
    background: gray;
}



/*controles izquierda derecha*/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-40%);
    background: rgba(146, 146, 146, 0.50);
    color: #fff;
    border: 2px solid rgba(255,255,255,0.4);
}

.nbs-flexisel-nav-left {
    left: 10px;
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;
}


.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}


/*//caja de titulo*/
.caja {
      font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      background: #889ccf;
      margin: 0 0 25px;
      overflow: hidden;
      padding: 20px;
      border-radius: 35px 0px 35px 0px;
      -moz-border-radius: 35px 0px 35px 0px;
      -webkit-border-radius: 35px 0px 35px 0px;
      border: 2px solid #5878ca;}


