.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-item:hover>.dropdown-menu {
  display: block;
}

h1 {
  padding: 60px;
}

img {
  width: 50%;
  margin: auto;
}

#formulario{
  background-color: #bdbdbd;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #888888;
}

form{
  padding: 30px;
  margin: 10px 0;
}

#pad{
  padding-left: 15px;
  padding-top: 50px;
}

#buttonForm{
  padding: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
}

input[required],select{
  box-shadow: 0 0 5px green;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
}

header{
  background-image: linear-gradient(#00b3ee, #baa1ff);
}

body{
  /*background: url("../imagenes/fuegosArtificiales.jpg");*/
  /*background-size: cover;*/
}

#divform{
  padding-top: 20px;
}

#errorM{
  border-radius: 20px;
  background-color: #d92a2e;
  color: #ffff61;
}

#errM{
  padding: 10px;
}

#titleLog{
  padding-top: 30px;
}

#logbackground{

  margin: 10px 0;
  background-color: #bdbdbd;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #888888;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
}

input:invalid {
  border: 2px solid #ff8c95;
  background-color: #ff8c95;
}
